@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    cursor:wait;
    
    font-family: 'Comic Neue';
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    
    background-color: blue;
    color: #ffffff;
    margin: 60 0  0 0;
}

img {
    width: 40%;
    max-width: 300px;
    height: auto;
}